<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>XMPPMessageReceiver</servlet-name>
		<servlet-class>com.cyp.server.XMPPReceiverServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>XMPPSubscribeReceiver</servlet-name>
		<servlet-class>com.cyp.server.XMPPSubscribeServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>XMPPPresenceReceiver</servlet-name>
		<servlet-class>com.cyp.server.XMPPPresenceServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>XMPPErrorReceiver</servlet-name>
		<servlet-class>com.cyp.server.XMPPErrorServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>XMPPMessageReceiver</servlet-name>
		<url-pattern>/_ah/xmpp/message/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>XMPPSubscribeReceiver</servlet-name>
		<url-pattern>/_ah/xmpp/subscription/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>XMPPPresenceReceiver</servlet-name>
		<url-pattern>/_ah/xmpp/presence/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>XMPPErrorReceiver</servlet-name>
		<url-pattern>/_ah/xmpp/error/*</url-pattern>
	</servlet-mapping>
	
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>